<% @products.each do |product| %>
   <p><%= product.name %> | <%= number_to_currency product.price %>
   <%= form_for @order_item do |f| %>
     <%= f.hidden_field :product_id, value: product.id %>
     <%= f.number_field :quantity %>
     <%= f.submit "Add to cart" %>
   <% end %></p>
 <% end %>



<h1>Api Area</h1>
<table>
  <thead>
  <th>Title</th>
  <th>Authors</th>
</thead>
<tbody>
  <% @response["results"]["books"].each do |book| %>
  <td><%=book["title"]%></td>
  <td><%=book["author"]%></td>
  <% end %>
</tbody>
</table>
